// Your variable overrides
$body-bg: #FFFFFF;
$body-color: #4b4b4b;
$font-size-base: 0.9rem;
$line-height-base: 1;
$font-family-sans-serif: 'Open Sans', sans-serif;

$primary: #226600;
$primary-green: #226600;
$primary-green-lite:#598C3F;
$primary-green-normal:#226600;
$primary-green-dark:#1A4D00;
$primary-orange-lite:#FFBB3F;
$primary-orange-normal:#FFA500;
$primary-orange-faint: #FFE8BE;
$primary-orange-dark:#BE7C04;
$primary-orange: #FFA500;
$primary-green-light: #8FB17E;
$primary-green-hover: #598C3F;
$harsh: #E4E4E4;
$facebook: #4267B2;
$google: #DD4B39;
$whatsapp: #1BAB1B;
$twitter: #38A1F3;
$white: #FFFFFF;
$black-1: #BEBEBE;
$black-2: #777777;
$black-4: #000000;
$whisp-3: #F5F5F5;
$whisp-4: #E4E4E4;

:root {
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
  --color-white: #fff;
  --color-white-100: #eeeef0;
  --color-black: #191919;
  --color-success: #00b23d;
  --color-error: #df3c3c;

  --color-red-900: #ca1a1a;
  --color-red-800: #d22727;
  --color-red-700: #d72e2e;
  --color-red-600: #db3636;
  --color-red-500: #df3c3c;
  --color-red-400: #e45959;
  --color-red-300: #e97777;
  --color-red-200: #ef9e9e;
  --color-red-100: #f5c5c5;
  --color-red-50: #fbe8e8;

  --color-light-grey-900: #72727d;
  --color-light-grey-800: #92929d;
  --color-light-grey-700: #a2a2ad;
  --color-light-grey-600: #bebec7;
  --color-light-grey-500: #d1d1d6;
  --color-light-grey-400: #dfdfe0;
  --color-light-grey-300: #eaeaea;
  --color-light-grey-200: #f2f2f2;
  --color-light-grey-100: #f4f4f4;
  --color-light-grey-50: #f8f8f9;

  --color-green-900: #008a1a;
  --color-green-800: #009927;
  --color-green-700: #00a22f;
  --color-green-600: #00ab37;
  --color-green-500: #00b23d;
  --color-green-400: #26be5a;
  --color-green-300: #4dc977;
  --color-green-200: #80d99e;
  --color-green-100: #b3e8c5;
  --color-green-50: #e0f6e8;

  --color-dark-grey-900: #121216;
  --color-dark-grey-800: #191919;
  --color-dark-grey-700: #191922;
  --color-dark-grey-600: #23232d;
  --color-dark-grey-500: #32323d;
  --color-dark-grey-400: #42424c;
  --color-dark-grey-300: #52525d;
  --color-dark-grey-200: #60606c;

  --color-coral-900: #b12424;
  --color-coral-800: #be2730;
  --color-coral-700: #ca2a36;
  --color-coral-600: #db343d;
  --color-coral-500: #ef5466;
  --color-coral-400: #e45156;
  --color-coral-300: #db7176;
  --color-coral-200: #e7999c;
  --color-coral-100: #f7ccd3;

  --background-primary: var(--color-white);
  --background-intermediate: var(--color-light-grey-100);
  --background-secondary: var(--color-white-100);
  --background-contrast: var(--color-light-grey-300);
  --background-elevation: var(--color-light-grey-700);
  --background-accent: var(--color-coral-500);
  --text-primary: var(--color-dark-grey-800);
  --text-intermediate: var(--color-dark-grey-300);
  --text-secondary: var(--color-light-grey-900);
  --text-inverse: var(--background-primary);
  --text-accent: var(--color-coral-500);
  --divider-primary: var(--color-light-grey-300);
  --divider-secondary: var(--color-light-grey-500);
  --divider-accent: var(--color-coral-500);
  --color-accent: var(--color-coral-500);
  --color-accent-hover: var(--color-coral-700);
  --sidebar-background-color: var(--background-primary);
  --premium-color: #1daaa2;
  --orange-color: #f60;
  --download-color: #00d000;
  --family-color: #fe447d;
  --label-album-color: var(--text-secondary);
  --label-album-background-color: #efeff2;
  --label-new-color: #ff8000;
  --label-new-background-color: rgba(255, 128, 0, 0.1);
  --label-explicit-background-color: #191922;
  --label-explicit-color: #c2c2ca;
  --shadow-border-color: var(--background-primary);
  --lyrics-gradient-color: 255, 255, 255;
  --popper-shadow: 0 4px 20px 0 rgba(25, 25, 34, 0.24);
  --marquee-gradient-transparent-color: hsla(0, 0%, 100%, 0);
  --scroller-shadow-color: rgba(25, 25, 34, 0.12);
  --modal-shadow-color: rgba(10, 10, 22, 0.3);
  --modal-special-offers-primary-color: rgba(0, 127, 235, 0.9);
  --modal-special-offers-primary-hover-color: rgba(11, 102, 205, 0.9);
  --modal-sharebox-friend-hover-color: rgba(0, 127, 235, 0.5);
  --onboarding-header-shadow-color: rgba(0, 0, 0, 0.2);
  --onboarding-footer-shadow-color: rgba(0, 0, 0, 0.2);

  --btn-primary: var(--color-coral-400);
  --background-intermediate: var(--color-light-grey-100);
  --btn-background-secondary: var(--color-light-grey-50);
  --btn-border-secondary: var(--color-light-grey-500);
  --btn-secondary: var(--color-dark-grey-800);
  --btn-success: #29c7ac;
  --btn-warning: #f78989;
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;

  --background-primary: var(--color-dark-grey-900);
  --background-intermediate: var(--color-dark-grey-700);
  --background-secondary: var(--color-dark-grey-600);
  --background-contrast: var(--color-dark-grey-400);
  --background-elevation: var(--color-dark-grey-300);
  --background-accent: var(--color-coral-500);
  --text-primary: var(--color-white);
  --text-intermediate: var(--color-light-grey-900);
  --text-secondary: var(--color-light-grey-800);
  --text-inverse: var(--background-primary);
  --text-accent: var(--color-coral-500);
  --divider-primary: var(--color-dark-grey-500);
  --divider-secondary: var(--color-dark-grey-300);
  --divider-accent: var(--color-coral-500);
  --color-accent: var(--color-coral-500);
  --color-accent-hover: var(--color-coral-700);
  --sidebar-background-color: var(--background-intermediate);
  --primary-color: #ef5466;
  --primary-hover-color: #cb4757;
  --premium-color: #1daaa2;
  --orange-color: #f60;
  --download-color: #00d000;
  --family-color: #fe447d;
  --label-album-color: var(--text-secondary);
  --label-album-background-color: #efeff2;
  --label-new-color: #ff8000;
  --label-new-background-color: rgba(255, 128, 0, 0.1);
  --label-explicit-color: #92929d;
  --shadow-border-color: #23232d;
  --lyrics-gradient-color: 0, 0, 0;
  --popper-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.24);
  --popper-marquee-gradient-color: rgb(50 50, 61);
  --marquee-gradient-transparent-color: rgba(35, 35, 45, 0);
  --modal-special-offers-primary-color: rgba(239, 84, 102, 0.9);
  --modal-special-offers-primary-hover-color: rgba(203, 71, 87, 0.9);
  --modal-sharebox-friend-hover-color: rgba(239, 84, 102, 0.5);
  --onboarding-header-shadow-color: rgba(0, 0, 0, 0.08);
  --onboarding-footer-shadow-color: rgba(0, 0, 0, 0.08);
  --scroller-shadow-color: rgba(0, 0, 0, 0.3);

  --btn-primary: var(--color-coral-400);
  --btn-background-secondary: transparent;
  --btn-border-secondary: var(--color-light-grey-800);
  --btn-secondary: var(--color-white);
  // --btn-success: #29c7ac;
  // --btn-warning: #f78989;
}

.sepia-mode {
  --color: #433422;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
}


