// Your variable overrides
$body-bg: #FFFFFF;
$body-color: #4b4b4b;
$font-size-base: 0.9rem;
$line-height-base: 1;
$font-family-sans-serif: 'Open Sans', sans-serif;

$primary: #226600;
$primary-green: #226600;
$primary-green-lite:#598C3F;
$primary-green-normal:#226600;
$primary-green-dark:#1A4D00;
$primary-orange-lite:#FFBB3F;
$primary-orange-normal:#FFA500;
$primary-orange-faint: #FFE8BE;
$primary-orange-dark:#BE7C04;
$primary-orange: #FFA500;
$primary-green-light: #8FB17E;
$primary-green-hover: #598C3F;
$harsh: #E4E4E4;
$facebook: #4267B2;
$google: #DD4B39;
$whatsapp: #1BAB1B;
$twitter: #38A1F3;
$white: #FFFFFF;
$black-1: #BEBEBE;
$black-2: #777777;
$black-4: #000000;
$whisp-3: #F5F5F5;
$whisp-4: #E4E4E4;

$dark-primary: #FFFFFF;
$dark-white: #777777;

// Bootstrap and its default variables
// @import 'node_modules/bootstrap/scss/bootstrap';
// @import 'node_modules/bootstrap-vue/src/index.scss';


