@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i&display=swap");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import "variables";
@import "mixins/index";
@import "modules/index";
@import "overrides";

* {
  box-sizing: border-box;
}

:root {
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
  --color-white: #fff;
  --color-black: #191919;
  --color-success: #00b23d;
  --color-error: #df3c3c;

  --color-red-900: #ca1a1a;
  --color-red-800: #d22727;
  --color-red-700: #d72e2e;
  --color-red-600: #db3636;
  --color-red-500: #df3c3c;
  --color-red-400: #e45959;
  --color-red-300: #e97777;
  --color-red-200: #ef9e9e;
  --color-red-100: #f5c5c5;
  --color-red-50: #fbe8e8;

  --color-light-grey-900: #72727d;
  --color-light-grey-800: #92929d;
  --color-light-grey-700: #a2a2ad;
  --color-light-grey-600: #bebec7;
  --color-light-grey-500: #d1d1d6;
  --color-light-grey-400: #dfdfe0;
  --color-light-grey-300: #eaeaea;
  --color-light-grey-200: #f2f2f2;
  --color-light-grey-100: #f4f4f4;
  --color-light-grey-50: #f8f8f9;

  --color-green-900: #008a1a;
  --color-green-800: #009927;
  --color-green-700: #00a22f;
  --color-green-600: #00ab37;
  --color-green-500: #00b23d;
  --color-green-400: #26be5a;
  --color-green-300: #4dc977;
  --color-green-200: #80d99e;
  --color-green-100: #b3e8c5;
  --color-green-50: #e0f6e8;

  --color-dark-grey-900: #121216;
  --color-dark-grey-800: #191919;
  --color-dark-grey-700: #191922;
  --color-dark-grey-600: #23232d;
  --color-dark-grey-500: #32323d;
  --color-dark-grey-400: #42424c;
  --color-dark-grey-300: #52525d;
  --color-dark-grey-200: #60606c;

  --color-coral-900: #b12424;
  --color-coral-800: #be2730;
  --color-coral-700: #ca2a36;
  --color-coral-600: #db343d;
  --color-coral-500: #ef5466;
  --color-coral-400: #e45156;
  --color-coral-300: #db7176;
  --color-coral-200: #e7999c;
  --color-coral-100: #f7ccd3;

  --background-primary: var(--color-white);
  --background-intermediate: var(--color-light-grey-100);
  --background-secondary: var(--color-white);
  --background-contrast: var(--color-light-grey-300);
  --background-elevation: var(--color-light-grey-700);
  --background-accent: var(--color-coral-500);
  --text-primary: var(--color-dark-grey-800);
  --text-intermediate: var(--color-dark-grey-300);
  --text-secondary: var(--color-light-grey-900);
  --text-inverse: var(--background-primary);
  --text-accent: var(--color-coral-500);
  --divider-primary: var(--color-light-grey-300);
  --divider-secondary: var(--color-light-grey-500);
  --divider-accent: var(--color-coral-500);
  --color-accent: var(--color-coral-500);
  --color-accent-hover: var(--color-coral-700);
  --sidebar-background-color: var(--background-primary);
  --premium-color: #1daaa2;
  --orange-color: #f60;
  --download-color: #00d000;
  --family-color: #fe447d;
  --label-album-color: var(--text-secondary);
  --label-album-background-color: #efeff2;
  --label-new-color: #ff8000;
  --label-new-background-color: rgba(255, 128, 0, 0.1);
  --label-explicit-background-color: #191922;
  --label-explicit-color: #c2c2ca;
  --shadow-border-color: var(--background-primary);
  --lyrics-gradient-color: 255, 255, 255;
  --popper-shadow: 0 4px 20px 0 rgba(25, 25, 34, 0.24);
  --marquee-gradient-transparent-color: hsla(0, 0%, 100%, 0);
  --scroller-shadow-color: rgba(25, 25, 34, 0.12);
  --modal-shadow-color: rgba(10, 10, 22, 0.3);
  --modal-special-offers-primary-color: rgba(0, 127, 235, 0.9);
  --modal-special-offers-primary-hover-color: rgba(11, 102, 205, 0.9);
  --modal-sharebox-friend-hover-color: rgba(0, 127, 235, 0.5);
  --onboarding-header-shadow-color: rgba(0, 0, 0, 0.2);
  --onboarding-footer-shadow-color: rgba(0, 0, 0, 0.2);
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;

  --background-primary: var(--color-dark-grey-900);
  --background-intermediate: var(--color-dark-grey-700);
  --background-secondary: var(--color-dark-grey-600);
  --background-contrast: var(--color-dark-grey-400);
  --background-elevation: var(--color-dark-grey-300);
  --background-accent: var(--color-coral-500);
  --text-primary: var(--color-white);
  --text-intermediate: var(--color-light-grey-900);
  --text-secondary: var(--color-light-grey-800);
  --text-inverse: var(--background-primary);
  --text-accent: var(--color-coral-500);
  --divider-primary: var(--color-dark-grey-500);
  --divider-secondary: var(--color-dark-grey-300);
  --divider-accent: var(--color-coral-500);
  --color-accent: var(--color-coral-500);
  --color-accent-hover: var(--color-coral-700);
  --sidebar-background-color: var(--background-intermediate);
  --primary-color: #ef5466;
  --primary-hover-color: #cb4757;
  --premium-color: #1daaa2;
  --orange-color: #f60;
  --download-color: #00d000;
  --family-color: #fe447d;
  --label-album-color: var(--text-secondary);
  --label-album-background-color: #efeff2;
  --label-new-color: #ff8000;
  --label-new-background-color: rgba(255, 128, 0, 0.1);
  --label-explicit-color: #92929d;
  --shadow-border-color: #23232d;
  --lyrics-gradient-color: 0, 0, 0;
  --popper-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.24);
  --popper-marquee-gradient-color: rgb(50 50, 61);
  --marquee-gradient-transparent-color: rgba(35, 35, 45, 0);
  --modal-special-offers-primary-color: rgba(239, 84, 102, 0.9);
  --modal-special-offers-primary-hover-color: rgba(203, 71, 87, 0.9);
  --modal-sharebox-friend-hover-color: rgba(239, 84, 102, 0.5);
  --onboarding-header-shadow-color: rgba(0, 0, 0, 0.08);
  --onboarding-footer-shadow-color: rgba(0, 0, 0, 0.08);
  --scroller-shadow-color: rgba(0, 0, 0, 0.3);
}

.sepia-mode {
  --color: #433422;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  margin: 0;
  line-height: 1.2;
  font-size: 0.9rem;
  margin: 0;
  min-height: 100vh;
}

body {
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  //   Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}
a {
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

button:active {
  box-shadow: none;
  border: none;
}

.center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Scroller */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  /* Track */
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  /* Handle */
  background: #00000040;
}

::-webkit-scrollbar-thumb:hover {
  /* Handle on hover */
  background: #00000020;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.cursor {
  cursor: pointer;
}

.filled__icon {
  padding: 6px;
  border-radius: 50%;
  color: #fff;
  background-color: #36c8a9;
}

.btn-beaf {
  background-color: #78f6dd;
  color: #000000;
  min-height: 50px;
  font-weight: bold;
  font-size: 20px;
}

.btn-beaf:active {
  background-color: #78f5d6;
}

.btn-beaf:hover {
  background-color: #5affdf;
}

.elevate {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.img-center {
  display: flex;
  img {
    margin: auto;
  }
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  @include for-tablet-landscape-up {
    display: block;
  }
}

.el-dialog {
  @include for-tablet-landscape-up {
    width: 98%;
  }
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: auto !important;
}

.el-table .warning-row {
  background: oldlace;
}

.el-table .success-row {
  background: #f0f9eb;
}

.el-avatar {
  display: flex;
}

.el-menu-item {
  padding: 0 !important;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
