.el-form-item {
  margin-bottom: 20px;
}

.el-form-item__label {
  line-height: 30px;
}

.el-form--label-top .el-form-item__label {
  padding: 0;
}

.el-input__inner,
.el-textarea__inner {
  background-color: var(--background-primary);
  color: var(--color);
  border-color: var(--divider-primary);
}

.el-table,
.el-table__expanded-cell {
  background-color: inherit;
}

.el-table th,
.el-table tr {
  background-color: transparent;
}

.el-table tr {
  color: var(--text-primary);
}

.el-table th {
  color: var(--text-secondary);
  font-weight: 600;
  text-transform: uppercase;
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: var(--background-intermediate);
}

.el-table tr:last-child .el-table td,
.el-table tr:last-child .el-table th.is-leaf {
  border-bottom: none;
}

.el-table td,
.el-table th.is-leaf {
  border-bottom: 1px solid var(--divider-primary);
}

.el-table--border::after,
.el-table--group::after,
.el-table::before {
  background-color: unset;
}

button:enabled.el-button--secondary {
  border: 1px solid var(--btn-border-secondary);
  box-shadow: none;
}

.el-button {
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Open Sans";
  font-weight: 600;
}

.el-button--primary {
  color: var(--color-white);
  background-color: var(--btn-primary);
  border-color: var(--btn-primary);
}

.el-button--primary.is-active,
.el-button--primary:focus,
.el-button--primary:active,
.el-button--primary:hover {
  background: var(--color-coral-700);
}

.el-button--secondary {
  color: var(--btn-secondary);
  background-color: var(--btn-background-secondary);
  border-color: var(--btn-border-secondary);
}

.el-button--secondary.is-active,
.el-button--secondary:focus,
.el-button--secondary:active {
  color: var(--btn-secondary);
  background-color: var(--btn-background-secondary);
  border-color: var(--btn-border-secondary);
}

button:enabled.el-button--secondary:hover {
  color: var(--btn-secondary);
  background-color: var(--btn-background-secondary);
  border-color: var(--color-white);
}

.el-button--success {
  color: var(--color-white);
  background-color: var(--btn-success);
  border-color: var(--btn-success);
}

.el-button--success.is-active,
.el-button--success:focus,
.el-button--success:active,
.el-button--success:hover {
  background: var(--btn-success);
}

.el-pager li.active {
  color: var(--color-coral-700);
}

.el-pager li:hover {
  color: var(--color-coral-700);
}

.el-pager li {
  background: transparent;
}

.el-pagination .btn-next,
.el-pagination .btn-prev {
  background: center center no-repeat transparent;
}

.el-pagination button:disabled {
  background-color: transparent;
}

.el-dialog {
  background: var(--background-primary);
}

.el-dialog__title {
  color: inherit;
}

.el-input__inner:focus,
.el-select .el-input.is-focus .el-input__inner,
.el-textarea__inner:focus,
.el-select .el-input__inner:focus {
  border-color: var(--color-accent);
}

//Card
.el-card {
  background-color: var(--background-primary);
  color: var(--text-primary);
}

//Dropdown
.el-dropdown {
  width: 100%;
}

.el-dropdown-menu {
  background-color: var(--background-primary);
  border: 1px solid var(--btn-background-secondary);
  width: inherit;
  @include for-tablet-portrait-up {
    width: 100%;
  }
}

.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover,
.el-dropdown-menu__item a:hover {
  background-color: var(--btn-background-secondary);
  color: var(--text-primary);
}

.el-dropdown-menu__item a {
  color: var(--text-secondary);
}

.el-popper[x-placement^="bottom"] .popper__arrow {
  border-bottom-color: var(--background-primary);
}

.el-progress-bar__outer {
  background-color: rgba(255, 255, 255, 0.2);
}

.el-progress__text {
  color: unset;
}

.el-avatar {
  display: flex;
  background: transparent;
  height: 45px;
  width: 45px;
}

.el-avatar > img {
  max-width: 100%;
}

.el-transfer-panel {
  background: transparent;
}

.el-transfer-panel .el-transfer-panel__header {
  background: transparent;
}

.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label {
  color: var(--text-primary);
}

.el-transfer-panel__item.el-checkbox {
  color: var(--text-secondary);
}

.el-transfer-panel__item:hover {
  color: var(--text-primary);
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-radio__input.is-checked .el-radio__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: var(--color-coral-400);
  background: var(--color-coral-400);
  border-color: var(--color-coral-400);
}

.el-checkbox__input.is-checked + .el-checkbox__label,
.el-radio__input.is-checked + .el-radio__label {
  color: var(--color-coral-400);
}

.el-checkbox__inner:hover,
.el-input-number__decrease:hover,
.el-input-number__increase:hover,
.el-radio.is-bordered.is-checked,
.el-radio__inner:hover {
  border-color: var(--color-coral-400);
}

.el-button--primary.is-disabled,
.el-button--primary.is-disabled:active,
.el-button--primary.is-disabled:focus,
.el-button--primary.is-disabled:hover {
  color: var(--color-white);
  background-color: var(--color-coral-200);
  border-color: var(--color-coral-200);
}

.el-switch.is-checked .el-switch__core {
  border-color: var(--color-coral-400);
  background-color: var(--color-coral-400);
}

.el-carousel__container {
  @include for-tablet-portrait-up {
    height: 24vh;
  }
}
